/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #93d304;
  --first-color-low-opacity: rgb(106, 166, 206, 0.788);
  --first-color-alt: #568120;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813r em;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1d2325;
  --container-color: #272c30;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  max-width: 1724px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.logo-image {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: #91d3049d;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #93d304;
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.menu__review_button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}


/*========== ABOUT ==========*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 110px;
  height: 130px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
  padding: .75rem;
}

.menu__img {
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name {
  font-size: var(--normal-font-size);
}

.menu__detail,
.menu__preci {
  font-size: var(--small-font-size);
}

.menu__detail {
  margin-bottom: var(--mb-1);
}

.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== Download Results ==========*/
.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-5);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__store {
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img {
  width: 230px;
  justify-self: center;
}

/* ----- */
.code-input {
  display: flex;
  align-items: center;
}

.code-input input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.code-input button {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

}

.code-input button:hover {
  background-color: var(--first-color-alt);
}

/*========== CONTACT ==========*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {

  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }

  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }

  .menu__content {
    padding: 1.5rem;
  }

  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}

/* ------------------- cart css -------------------------------*/


.cart-table-container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Center horizontally */
  font-size: 10px;
  font-weight: 10px;
  
}



.button.remove:hover {
  background-color: red;
}

.button.add:hover {
  background-color: green;
}



.center-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

.custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  z-index: 1000;
}

.custom-alert.success {
  background-color: #4CAF50;
  color: white;
}

.custom-alert.error {
  background-color: #f44336;
  color: white;
}

body.dark-theme #cart-text {
  color: white;
}


/* -------------------end cart css */

/* -------------------start orders css */

.order-items-row {
  background-color: #f2f2f2;
}

.toggle-button {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}



/* -------------------end orders css */
/*---------------    SEARCH BAR   ----------------*/

#myInput {
  background-image: url('../img/search.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-size: 20px 20px;
  /* Size the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

/*---------------    FILTERS BAR   ----------------*/

.container {
  overflow: hidden;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--first-color);
  border-radius: 5px;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: var(--first-color-alt);
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
/*---------------    REVIEWS   ----------------*/

.review__img {
  width: 400px;
  align-self: left;
  margin-bottom: var(--mb-2);
  border-radius: 10%;
}

.review__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.review__name {
  font-size: var(--normal-font-size);
  position:relative; 
}

.review__detail,
.review__preci {
  font-size: var(--small-font-size);
}

.review__detail {
  margin-bottom: var(--mb-1);
}


.review__content {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
  padding: .75rem;
}

.review__content2 {
  position: relative;
  left: 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
  padding: .75rem;
}

.review__form{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-color);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review__title{
  font-size: 24px;
  color: var(--title-color);
  margin-top: 25px;
  margin-bottom: 20px;
  position:relative; 
  left:80px;
}

.review__title2{
  font-size: 24px;
  color: #333;
  margin-top: 25px;
  margin-bottom: 20px;
  position:relative; 
  left:80px;
}

.review__form-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a2be9f;
  border-radius: 3px;
  font-size: 16px;
  color: #333;
}


/*------------------------------------------------*/
/*----------------- REVIEW PEOPLE ----------------*/
/*------------------------------------------------*/

/* Style the review list */
.review-list {
  list-style-type: none;
  padding: 0; /* Remove default padding */
}

/* Style individual review items */
.review-item {
  color: rgb(7, 169, 7);
  margin-bottom: 20px; /* Increase margin for spacing */
  border-left: 4px solid rgb(16, 163, 16); /* Add a left border */
  padding-left: 10px; /* Add padding on the left */
  position:relative; 
  left:80px;
}

/* Style user names */
.user {
  font-weight: bold;
  color: rgb(37, 178, 37);
}

/* Style ratings */
.rating {
  color: rgb(73, 101, 73);
}

/* Style comments */
.comment {
  color: rgb(73, 101, 73);
}


/*------------------------------------------------*/
/*---------------    REVIEW BOX   ----------------*/
/*------------------------------------------------*/











/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/



/*---------------    CHECKOUT   ----------------*/

.checkout-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.checkout-col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.checkout-col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.checkout-col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.checkout-col-25,
.checkout-col-50,
.checkout-col-75 {
  padding: 0 16px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout-container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

span.price {
  float: right;
  color: grey;
}

#invalid-cc-popup {
  display: none;
  color: red;
}

#required-info-popup {
  display: none;
  color: red;
}

#checkout_col_75 {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

/* Fixes for night theme css */
body.dark-theme #checkout_container {
  background-color: #272c30;
}

body.dark-theme #cart-table {
  background-color: lightgrey;
}

body.dark-theme #cart-div {
  background-color: #272c30;
  color: lightgrey;
}
/* Receipt Popup */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Make it fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background overlay */
  z-index: 1000; /* Ensure it appears on top of other content */
}

.popup-container {
  display: none; /* Hidden by default */
  width: 50%; /* Adjust the width as needed */
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  position: fixed; /* Fixed position to overlay the entire viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element precisely */
  z-index: 1001; /* Ensure it appears on top of the overlay */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
}

.close-popup {
  background-color: var(--first-color);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 1px 4px;
  cursor: pointer;
}

.close-popup:hover {
  background-color: var(--first-color-alt); /* Change the background color on hover */
}

.dark-theme .popup-container {
  background-color: #272c30;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.save-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
